<a
  class="btn btn-secondary btn-sm mx-3 my-2"
  id="createBtn"
  href="../newPost"
>Create New Post</a>

<div class="card col-11 border-dark mb-3 mx-auto" id="myPost">
  {{#each blogs}}
    <header class="card-header row justify-content-between" id="cardHead">
      <div class="card-title col-4">
        <h2><a id="titleLink" href="/editPost/{{id}}">{{title}}</a></h2>
        <p>Click title to edit</p>
      </div>
      <div class="col-4 text-end my-auto">
        <p>Posted by <b>{{user.username}}</b> on <i>{{date}}</i></p>
      </div>
    </header>
    <main class="card-body">
      <p>{{content}}</p>
    </main>
  {{/each}}
</div>