{{!-- Show individual blog posts after login --}}
<div id="myPost">
    <a href="../newPost">Create New Post</a>

  {{#each blogs as |blog|}}
  <header>
    <a href='/myPostDetails/{{blog.id}}'>{{blog.title}}</a>
    <p>Posted by {{blog.userId}} on {{blog.date}}</p>
  </header>
  <main>
    <p>{{blog.content}}</p>
  </main>
  {{/each}}
</div>