<div id="blogPosts">
  {{#each blogs as |blog|}}
  <header>
    <a href='/postDetails/{{blog.id}}'>{{blog.title}}</a>
    <p>Posted by {{blog.userId}} on {{blog.date}}</p>
  </header>
  <main>
    <p>{{blog.content}}</p>
  </main>
  {{/each}}
</div>
