<div id="blogPosts">
  {{#each blogs}}
  <header>
    <a href='/postDetails/{{id}}'>{{title}}</a>
    <p>Posted by {{user.username}} on {{date}}</p>
  </header>
  <main>
    <p>{{content}}</p>
  </main>
  {{/each}}
</div>
