<div id="blogDetails">
  <header>
    <h2>{{blog.title}}</h2>
    <p>Posted by {{blog.userId}} on {{blog.date}}</p>
  </header>
  <main>
    <p>{{blog.content}}</p>
  </main>
</div>

<div id="userComment">
  {{#each comments as |comment|}}

    <h3>{{comment.userId}} commented on {{comment.date}}</h3>
    <p>{{comment.content}}</p>
  {{/each}}

</div>

<form id="commentPost" data-blog-id={{blog.id}}>
  <textarea name="commentPost" form="commentPost" id="commentContent">Enter text here</textarea>
  <div class="form-group">
    <button class="btn btn-primary" type="click" id="postComment">Post Comment</button>
  </div>
</form>

<script src="/js/postDetails.js"></script>