<div class="card col-11 border-dark mb-3">
  <div id="blogDetails">
    <header class="card-header row justify-content-between">
      <h2 class="card-title col-4">{{blog.title}}</h2>
      <p class="col-4 text-end">Posted by {{blog.user.username}} on {{blog.date}}</p>
    </header>
    <main class="card-body border-dark mb-2">
      <p>{{blog.content}}</p>
    </main>
  </div>

  <div id="userComment">
    {{#each comments}}
      <header>
        <p class="card-subtitle mb-2">{{user.username}} commented on {{date}}</p>
      </header>
      <main>
        <p class="card-body">{{commentContent}}</p>
      </main>
    {{/each}}
  </div>

  {{#if logged_in}}
    <form id="commentPost" data-blog-id={{blog.id}}>
      <textarea name="commentPost" form="commentPost" id="commentContent">Enter
        text here</textarea>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" id="postComment">Post
          Comment</button>
      </div>
    </form>
  {{/if}}
</div>

<script src="/js/postDetails.js"></script>