<div id="blogDetails">
  <header>
    <h2>{{blog.title}}</h2>
    <p>Posted by {{blog.user.username}} on {{blog.date}}</p>
  </header>
  <main>
    <p>{{blog.content}}</p>
  </main>
</div>

<div id="userComment">
  {{#each comments}}
    <header>
      <h3>{{user.username}} commented on {{date}}</h3>
    </header>
    <main>
      <p>{{commentContent}}</p>
    </main>
  {{/each}}
</div>


{{#if logged_in}}
<form id="commentPost" data-blog-id={{blog.id}}>
  <textarea name="commentPost" form="commentPost" id="commentContent">Enter text here</textarea>
  <div class="form-group">
    <button class="btn btn-primary" type="submit" id="postComment">Post Comment</button>
  </div>
</form>
{{/if}}

<script src="/js/postDetails.js"></script>
