<div id="blogDetails">
  <header>
    <h2>{{blog.title}}</h2>
    <p>Posted by {{blog.user.username}} on {{blog.date}}</p>
  </header>
  <main>
    <p>{{blog.content}}</p>
  </main>
</div>

<div id="userComment">
  {{#each comments as |comment|}}

    <h3>{{comment.user.username}} commented on {{comment.date}}</h3>
    <p>{{comment.content}}</p>
  {{/each}}

</div>

<form id="commentPost">
  <textarea name="commentPost" form="commentPost">Enter text here</textarea>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Post Comment</button>
  </div>
</form>